.header {
    width: 100%;
    padding:0;
    margin:0;
    box-sizing: border-box;
  }

body {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

.container {
    background-color: white;
    /* height: 70vh; */
    width: 100%; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* flex-wrap: wrap; */
}

@media all and (max-width:1000px){
    .container {
        background-color: white;
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    } 
    .seller{
        width: 100vw;
    }
    .buyer{
        width: 100vw;
    }
}

.jugaad {
    color: darkblue;
    font-size: 250%;
    background-color: #dffbfd;
    text-align: center;
    height: 10vh;
    padding-top: 3%;
}


.buyer {
    padding-top:50px;
    background-image: linear-gradient(to right, #dffbfd 0%, #9fc7fc 100%);
    font-size: 20px;
    font-weight: bold;
    /* height: 20vh; */
    /* width: 49.9vw; */
    color: #371c59;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-bottom:50px */
    border-right: 0.001px solid rgb(168, 167, 167);
    padding-bottom:7%;
}

.seller {
    background-image: linear-gradient(to right, #dffbfd 0%, #9fc7fc 100%);
    /* height: 73vh; */
    /* width: 50vw; */
    font-size: 20px;
    font-weight: bold;
    color: #371c59;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom:5%;
}

.contentinbuyerclass {
    text-align: center;
    font-size: 30px;
    padding-top: 60px;
}

button {
    background-color: white;
    color: #371c59;
    font-size: 20px;
    border: 0px;
    border-radius: 30px;
    transition: 1s;
}

button:hover {
    background-color: darkblue;
    color: white;
    cursor: pointer;
    border: 0px;
    font-size: 21px;
}

.buyertext {
    font-size: 0.5em;
    padding-bottom: 30px;
    transition: 2s;
}

.contactbutton {
    align-self: flex-end;
    padding-right: 10px;
    padding-bottom: 60px;
    padding-top: 10px;
}

.contentinsellerclass {
    font-size: 30px;
    text-align: center;
    padding-top: 57px;
}

.sellertext {
    font-size: 0.5em;
    padding-bottom: 30px;
    transition: 2s;
}

.contactusbutton {
    background-color: white;
    color: #371c59;
    border: 0px;
    padding: 2px;
}

.contactusbutton:hover {
    background-color: darkblue;
    color: white;
}

.sellnowbutton {
    background-color: white;
    color: #371c59;
    border: 0px;
}

.sellnowbutton:hover {
    background-color: darkblue;
    color: white;
    border: 0px;
}

.shop {
    color: darkblue;
    padding-top: 10px;
    /* padding-bottom: 70px; */
    padding-left: 2px;
    padding-right: 0px;
    font-size: 30px;
    text-align: left;
    align-self: flex-start;
}

/* --------------------------------footer-start------------------------------------------ */

.footer{
    width:100%;
}