.header {
    width: 100%;
    padding:0;
    margin:0;
    box-sizing: border-box;
  }

  /* ----------------header-end--------------------- */

html {
    scroll-behavior: smooth;
}

body {
    background-image: linear-gradient(to right, white 0%, #9fc7fc 100%);
    margin: 0;
    padding: 0;
    font-family: Arial;
    /* overflow-x: hidden; */
}

div {
    border-radius: 5px;
}

button {
    cursor: pointer;
}

.grid_of_products {
    padding-top: 33px;
    padding-left: 53px;
    padding-right: 20px;
    /* padding-bottom: 100px; */
    height: 55vh;
    width: 93vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 7%;
}

.product1 {
    padding: 0%;
    background-image: url("../../assets/new_mobile.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border: 2px solid black;
    transition: background-size 3s;
}

.product1:hover {
    background-size: 103% 103%;
}

.product2 {
    padding: 0px;
    background-image: url("../../assets/newlaptops.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border: 2px solid black;
    transition: background-size 3s;
}

.product2:hover {
    background-size: 105% 105%;
}

.product3 {
    padding: 0px;
    background-image: url("../../assets/cloth2.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border: 2px solid black;
    transition: background-size 3s;
}

.product3:hover {
    background-size: 103% 103%;
}

.product4 {
    padding: 0px;
    background-image: url("../../assets/newtv.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border: 2px solid black;
    transition: background-size 3s;
}

.product4:hover {
    background-size: 103% 103%;
}

.button_product {
    border: 0.001px solid rgb(184, 184, 184);
    height: 15%;
    width: 100%;
    font-size: 150%;
    padding: 3px;
    /* border-radius: 30px; */
    background-color: rgba(255, 255, 255, 0.637);
    color: darkblue;
    transition: 1s;
}

.button_product:hover {
    background-color: darkblue;
    color: white;
}

/* --------------------------------footer------------------------------------------ */

.footer{
    position: fixed;
    bottom: 0;
    width:100%;
}