body{
    padding:0;
    margin:0;
    
}

.footer {
    border-radius: 0%;
    display: flex;
    background-color: #343a40;
    justify-content: center;
    bottom: 0;
    width:100%;
}

.footer ul {
    list-style-type: none;
}

.footer ul li {
    display: inline-block;
    padding: 115px;
    padding-top: 40px;
    /* padding-bottom: 40px; */
    margin: 0px;
}

.footer a {
    text-decoration: none;
}