.header {
    width: 100%;
    padding:0;
    margin:0;
    box-sizing: border-box;
  }

html {
    scroll-behavior: smooth;
}

body {
    /* background-image: linear-gradient(to right, rgb(58 179 177) 0%, #9fc7fc 100%); */
    margin: 0;
    padding: 0;
    font-family: Arial;
}

/* --------------------------------Header-bar end----------------------------------------- */

.container2 {
    position: relative;
    text-align: center;
}

.container2 img {
    height: 1000px;
    width: 95%;
    /* height: 50%; */
    margin: 31px;
}

.container2 .card {
    position: absolute;
    top: 60px;
    left: 30%;
    /* height: 50%; */
    width: 40%;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    display: flex;
    flex-wrap: wrap;
    padding: 54px;
}

#options {
    position: absolute;
    top: 20px;
    left: 39%;
    background-color: rgb(29, 153, 202);
    color: white;
    border-radius: 5px;
    padding: 5px;
}

/* -------------------Icons-start--------------------------- */

figure {
    border: 1px #cccccc solid;
    padding: 4px;
    margin: auto;
    cursor: pointer;
}

figcaption {
    background-color: black;
    color: white;
    font-style: italic;
    padding: 2px;
    text-align: center;
}

button {
    width: 100%;
    background-color: #ee992a;
    color: white;
    padding: 14px 40px;
    margin: 50px 80%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}

button:hover {
    background-color: #ee7646;
}

/* --------------------------------footer-start------------------------------------------ */

.footer{
    width:100%;
}