.header {
    width: 100%;
    padding:0;
    margin:0;
    box-sizing: border-box;
  }

html {
    scroll-behavior: smooth;
}

body {
    /* background-image: linear-gradient(to right, rgb(58 179 177) 0%, #9fc7fc 100%); */
    margin: 0;
    padding: 0;
    font-family: Arial;
    /* width: 100%; */
    overflow-x: hidden;
}

/* ----------------------Navigation-over------------------------------------------ */

.grid-container {
    background-color: rgb(233, 224, 224);
    width: 100%;
}

.grid-container h2 {
    padding: 1%;
    text-align: center;
    color: white;
    background-color: rgb(199, 158, 158);
}

.inside-grid {
    display: grid;
    /* justify-content: space-around; */
    align-items: center;
}

.inside-grid .items {
    margin: 1%;
    margin-left: 22%;
    /* padding: 5%; */
    width: 50%;
    background-color: white;
    text-align: center;
}

.inside-grid img {
    width: 50%;
}

.MRP {
    display: flex;
    justify-content: center;
    padding: 1.6%;
}

.brand-name {
    font-size: 110%;
    cursor: pointer;
}

.brand-name:hover {
    color: rgb(252, 99, 99);
}

.brand-price {
    background-color: rgb(180, 92, 92);
    color: white;
    padding: 3px;
    margin-right: 8px;
}

.price {
    padding: 3px;
}

/* --------------------------footer------------------------------------------- */

.footer{
    width:100%;
}