.header {
    width: 100%;
    padding:0;
    margin:0;
    box-sizing: border-box;
  }


html {
    scroll-behavior: smooth;
}

body {
    /* background-image: linear-gradient(to right, rgb(58 179 177) 0%, #9fc7fc 100%); */
    margin: 0;
    padding: 0;
    font-family: Arial;
}


/* ----------------------header-over------------------------------------------ */

.card1 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 50px;
    padding-top: 20px;
    margin: 20px;
}

.card1 img {
    width: 70%;
    margin-left: 0px;
}

.card1 #rating {
    display: inline-block;
    background: rgb(168, 75, 75);
    color: white;
    padding: 0px 3px;
    margin: 5px 0px;
    border-radius: 4px;
    margin-left: 20px;
}

.container2 {
    display: flex;
}

.container2 .card1-row1 {
    display: flex;
}

.container2 #Dbutton {
    cursor: pointer;
    display: inline-block;
    background: rgb(15, 126, 218);
    color: white;
    padding: 6px 20px;
    margin: 3px 0px;
    border-radius: 10px;
}

.container2 .button {
    cursor: pointer;
    display: inline-block;
    background: #fb641b;
    color: white;
    padding: 15px 30px;
    margin: 3px 20px;
    border-radius: 30px;
}

.container2 button:hover {
    background: rgb(87, 32, 32);
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.card1-row2 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* ---------------------card1-over--------------------------- */

.card2 {
    width: 90%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 50px;
    padding-top: 20px;
    margin: 20px;
}

.card2-row1 .name {
    font-size: 22px;
}

.card2-row1 .price {
    font-size: 18px;
    display: inline-block;
    background: rgb(15, 126, 218);
    color: white;
    padding: 0px 15px;
    margin-top: 20px;
    margin-bottom: 8px;
    border-radius: 30px;
}

.card2-row1 #price {
    font-size: 25px;
    margin-bottom: 20px;
}

.card2-row2 .offers {
    font-weight: bolder;
    font-size: 20px;
    margin-bottom: 15px;
}

.card2-row2 {
    padding: 20px;
    border-style: dashed;
    border-color: #fb641b;
}

/* ----------------Pop-up UI-start---------------------- */

.bg-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    /* opacity: 0.7; */
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    display: none;
    /* align-items: center; */
}

.modal-content {
    width: 500px;
    height: 850px;
    background-color: white;
    opacity: 1;
    border-radius: 2px;
    margin-top: 30px;
    position: relative;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    border-top: none;
    border-right: none;
    font-size: 20px;
}

.modal-content h3 {
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
}

table {
    margin-top: 20px;
    margin-bottom: 30px;
}

.close {
    position: absolute;
    top: 0;
    right: 14px;
    cursor: pointer;
}

/* --------------------------------footer------------------------------------------ */

.footer{
    position: fixed;
    bottom: 0;
    width:100%;
}