.header {
    width: 100%;
    padding:0;
    margin:0;
    box-sizing: border-box;
  }

html {
    scroll-behavior: smooth;
}

body {
    /* background-image: linear-gradient(to right, rgb(58 179 177) 0%, #9fc7fc 100%); */
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    font-family: Arial;
    overflow-x: hidden;
}

/* ----------------------Header-bar over------------------------------------------ */

.button1 {
    padding: 0px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

div {
    border-radius: 5px;
}

.main_content {
    margin-top: 4%;
    padding: 30px;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    display: grid;
    gap: 25px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.side_contents:hover {
    background-color: darkblue;
    color: white
}

.main {
    background-color: white;
    height: 200px;
    width: 400px;
    background: rgba( 255, 255, 255, 0.05);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 0.0px);
    -webkit-backdrop-filter: blur( 0.0px);
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18);
}

/* --------------------------footer------------------------------------------- */

.footer{
    position: fixed;
    bottom:0;
    width:100%;
}