.header {
    width: 100%;
    padding:0;
    margin:0;
    box-sizing: border-box;
  }

html {
    scroll-behavior: smooth;
}

body {
    /* background-image: linear-gradient(to right, rgb(58 179 177) 0%, #9fc7fc 100%); */
    margin: 0;
    padding: 0;
    font-family: Arial;
}

/* ----------------------Header-bar over------------------------------------------ */

.bg {
    margin-left:36%;
    margin-top:7%;
    text-align: center;
    color: white;
}
 

.bg div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 50%;
}

input[type=text], select {
    font-size: 17px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#submit {
    display: block;
    width: 100%;
    background-color: #ee992a;
    color: white;
    padding: 14px 200px;
    margin: 8px 0px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

#submit:hover {
    background-color: #ee7646;
}

.cvc {
    display: flex;
}

label {
    color: #000;
    display: flex;
    justify-content: flex-start;
    /* font-weight: bold; */
    font-size: 19px;
}